
body{
    min-height: 2500px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.mt15 {
    margin-top: 15px;
}
.qrCode {
    display: inline-block;
    margin: 20px;
}
.result {
    margin-top: 20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    margin: 10px 20px 10px 0;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bolder;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-print{
    display: none;
}

.doc-header-img {
    float: right;
    position: relative;
    margin-right: 20px;
    box-shadow: 5px 5px 3px lightgray;
    border-radius: 5px;
    width: 700px;
}
.doc-header-wrapper {
    padding: 30px 90px 10px 90px;
    font-size: 24px;
    background-color: #6ACD93;
    text-align: left;
    overflow: hidden;
}
.doc-header-wrapper h1 {
    color: white;
}
.doc-header-wrapper p {
    color: #FFF102;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    font-size: 18px;
}
.instruct {
    margin: 0 auto;
    width: 90%;
}
.action{
    text-align: center;
}
.progressbar{
    width: 60%;
    margin: 0 auto;
    display: none;
}
.progress-label {
    position: absolute;
    left: 45%;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

@media print {
    .intro {
        display: none;
    }
}
